<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	 	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/mfis"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>

	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="mappingResources">
			<list>
				<value>Item.hbm.xml</value>
				<value>Linea_pedido.hbm.xml</value>
				<value>Pedido.hbm.xml</value>
				<value>Operador.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>hibernate.show_sql=true</value>
		</property>
		<property name="dataSource" ref="myDataSource"/>
	</bean>
	
	<bean id="DaoGenerico" class="mfis.tiendavirtual.modelo.dao.DaoGenerico">
		<property name="sessionFactory" ref="mySessionFactory"/>
	</bean>
</beans>
