body {
	font-family: Arial, Verdana, Sans serif;
	font-size: 1em;
	background-image:url("backgrounds20_files/OneFieldFlower.jpg");
	background-repeat:repeat-y;
	background-position:top center;
	background-attachment:fixed
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.1em; 	padding: 0px 15px 10px 15px; }
h3{ padding: 2px 10px; 	background-color: #c00; color: #eee; }

#breadcrumbs {
	font-size: 0.9em;
	padding: 3px 15px;
	border-right: 1px solid #c00;
	border-left: 1px solid #c00;
	border-bottom: 1px solid #c00;
	background-color: #eee;
}

#breadcrumbsoperador {
	font-size: 0.9em;
	padding: 3px 15px;
	border-right: 1px solid #c00;
	border-left: 1px solid #c00;
	border-bottom: 1px solid #c00;
	background-color: #eee;
}

#header {
	background-image: url('../../../images/fondo.jpg');
	background-repeat: repeat;
	background-color: #c00;
	border-top: 1px solid #c00;
	border-left: 1px solid #c00;
	color: #eee;
	height: 151px;
}

#container {
	background-color: #fff;
}
#foot{
	margin-top: 10px;
	background-color: #eee;
	border: 1px solid #c00;
	font-size: 0.9em;
	padding: 2px 0px;
	text-align: center;
}
.wrap50 {
	height: 50px;
}
.wrap120 {
	height: 120px;
}
.wrap300 {
	height: 300px;
}
#top-ventas, #otras-ofertas {
	margin-top: 10px;
}
.mini-container {
	padding: 5px 10px;
	border: 1px solid #c00;
	background-color: #eee;
}
.mini-container ul li{
	float: left;
	display: block;
	padding-left: 9px;
}

.mini-container ul li a {
	color: #000;
	padding: 2px 3px;
	display: block;
	text-decoration: none;
}
.mini-container ul li a:hover {
	background-color: #3d3d3d;
	color: #fff;
}


.menu-container {
	font-size: 0.9em;
	padding: 5px 10px;
	border: 1px solid #c00;
	background-color: #eee;
}
.menu-container ul {
	color: #c00;
	list-style-type: square;
	list-style-position: outside;
	padding-left: 10px;

}
.menu-container ul li{
	padding: 4px 2px;
}

.menu-container ul li a {
	color: #000;
	padding: 2px 3px;
	display: block;
	text-decoration: none;
}
.menu-container ul li a:hover {
	background-color: #3d3d3d;
	color: #fff;
}
.menu-container ul li a:visited {
}
.menu-container select, .menu-container input {
	width: 150px;
	border: 1px solid #c00;
}
.menu-container .boton, .menu-container .checkbox{
	width: auto;
	border: 0px;
}
.menu-container .boton {
	border: 1px solid #000;
	color: #eee;
	background-color: #c00;
}
#avanzada {
	border-top: 1px dotted #c00;
	border-bottom: 1px dotted #c00;
	padding-right: 10px;
	text-align: right;
}
.menu-container #avanzada input {
	width: 60px;
}
.menu-listado-workarea {

}

.fila-buscador {
	padding: 2px 0px;
}

.nodisplay {
	display: none;
}
.fila-submit {
	text-align: center;
	padding: 2px 0px;
}
table {
	width: 90%;
}
table tr td {
	vertical-align: top;
	padding-left: 10px;
	text-align: left;
	width: 50%;
}
table tr td p {
	font-size: 0.8em;
	padding: 1px;
}
table tr td p span {
	color: #00f;
}
table tr td img {
	width: 200px;
	height: 150px;
/*	border: 5px solid #c66;*/
}

input.minienlace {
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
	cursor: pointer;
	width: 125px;
}

input.minidetalle {
	background-image: url('../img/lupa.gif');
}
input.minicarrito {
	background-image: url('../img/cart.gif');
}


img.minienlace{
	width: 20px;
	height: 19px;
	border: 0;
	vertical-align: top;
}

img.carroDeLaCompra {
	width: 35px;
	height: 35px;
	border: 0;
	vertical-align: middle;
}

hr {
	border-top: 1px dotted #c66;
	border-bottom: 1px dotted #c66;
	border-left: 0px;	border-right: 0px;
	height: 4px;
}

table.carrito {
	text-align: left;
}
table.carrito tr th {
	width: 20%;
	font-weight: bold;
}
table.carrito tr td {
	width: 20%;
}
table.carrito tbody tr td {
	border-top: 1px solid #c00;
}
table.carrito tfoot tr td {
	border-top: 3px solid #c00;
}
table.oferta {
	width: 100%;
}
table.oferta tr th {
	border-bottom: 3px solid #c00;
}
table.oferta tr td.productoa {
	width: 40%;
	text-align: right;
}
table.oferta tr td.productob {
	width: 40%;
	padding: 0px;
	text-align: left;
}
table.oferta tr td.radio-button {
	width: 2%;
}
.oferta-submit {
	padding-top: 10px;
	text-align: center;
}
.oferta-submit input{
	width: 150px;
	border: 1px solid #f00;
}
table.oferton {
	width: 90%;
}
table.oferton tr td.drcha {
	text-align: right;
}
table.oferton tr td.izda {
	text-align: left;
}
img.oferton {
	text-align: right;
	width: 110px;
	height: 85px;
}
p.letra-grande{
	font-size: 1.8em;
	text-align: center;
}

table.pedido {
	text-align: center;
}
table.pedido th {
	width: 10%;
	font-weight: bold;
	text-align: center;
}
table.pedido tr td {
	width: 10%;
	text-align: center;
}
table.pedido tbody tr td {
	border-top: 1px solid #c00;
}

table.pedido tfoot tr td {
	border-top: 3px solid #c00;
}

