body {
	font-family: Arial, Verdana, Sans serif;
	font-size: 1em;
	background-image:url("backgrounds20_files/OneFieldFlower.jpg");
	background-repeat:repeat-y;
	background-position:top center;
	background-attachment:fixed
}
h1 { font-size: 1.5em;	padding: 10px 15px 0px 15px; }
h2 { font-size: 1.1em; 	padding: 0px 15px 10px 15px; }
h3{ padding: 2px 10px; 	background-color: #c00; color: #fee; }

#breadcrumbs {
	font-size: 0.9em;
	padding: 3px 15px;
	border-bottom: 1px solid #c00;
	background-color: #fee;
}
#header {
	background-color: #c00;
	color: #fee;
}
#container {
	background-color: #fff;
}
#foot{
	margin-top: 10px;
	background-color: #fee;
	border-top: 1px solid #c00;
	border-bottom: 1px solid #c00;
	font-size: 0.9em;
	padding: 2px 0px;
	text-align: center;
}
.wrap50 {
	height: 50px;
}
.wrap120 {
	height: 120px;
}
#top-ventas, #otras-ofertas {
	margin-top: 10px;
}
.mini-container {
	padding: 5px 10px;
	border: 1px solid #c00;
	background-color: #fee;
}
.mini-container ul li{
	float: left;
	display: block;
}

.mini-container ul li a {

}



.menu-container {
	font-size: 0.9em;
	padding: 5px 10px;
	border: 1px solid #c00;
	background-color: #fee;
}
.menu-container ul {
	color: #c00;
	list-style-type: square;
	list-style-position: outside;
	padding-left: 10px;

}
.menu-container ul li{
	padding: 4px 2px;
}

.menu-container ul li a, .menu-container ul li a:hover, .menu-container ul li a:visited {
	color: #000;
}

.menu-container select, .menu-container input {
	width: 150px;
	border: 1px solid #c00;
}
.menu-container .boton, .menu-container .checkbox{
	width: auto;
	border: 0px;
}
.menu-container .boton {
	border: 1px solid #000;
	color: #fee;
	background-color: #c00;
}
#avanzada {
	border-top: 1px dotted #c00;
	border-bottom: 1px dotted #c00;
	padding-right: 10px;
	text-align: right;
}
.menu-container #avanzada input {
	width: 60px;
}
.menu-listado-workarea {

}

.fila-buscador {
	padding: 2px 0px;
}

.nodisplay {
	display: none;
}
.fila-submit {
	text-align: center;
	padding: 2px 0px;
}
table {
	width: 90%;
}
table tr td {
	vertical-align: top;
	padding-left: 10px;
	text-align: left;
	width: 50%;
}
table tr td p {
	font-size: 0.8em;
	padding: 1px;
}
table tr td p span {
	color: #00f;
}
table tr td img {
	width: 200px;
	height: 150px;
	border: 5px solid #c66;
}

input.minienlace {
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	width: 100px;
}
img.minienlace{
	width: 20px;
	height: 19px;
	border: 0;
	vertical-align: top;
}

hr {
	border-top: 1px dotted #c66;
	border-bottom: 1px dotted #c66;
	border-left: 0px;	border-right: 0px;
	height: 4px;
}

#carrito .menu-container {
	background-image:url('../img/carrito.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

table.carrito {
	text-align: left;
}
table.carrito tr th {
	width: 20%;
	font-weight: bold;
}
table.carrito tr td {
	width: 20%;
}
table.carrito tbody tr td {
	border-top: 1px solid #c00;
}
table.carrito tfoot tr td {
	border-top: 3px solid #c00;
}
table.oferta {
	width: 100%;
}
table.oferta tr th {
	border-bottom: 3px solid #c00;
}
table.oferta tr td.productoa {
	width: 40%;
	text-align: right;
}
table.oferta tr td.productob {
	width: 40%;
	padding: 0px;
	text-align: left;
}
table.oferta tr td.radio-button {
	width: 2%;
}
.oferta-submit {
	padding-top: 10px;
	text-align: center;
}
.oferta-submit input{
	width: 150px;
	border: 1px solid #f00;
}