body {
	font-family: Arial, Verdana, Sans serif;
	font-size: 1em;
}

h1 { font-size: 1.5em;	padding: 10px 15px 0px 15px; }
h2 { font-size: 1.1em; 	padding: 0px 15px 10px 15px; }
h3{ padding: 2px 10px; 	background-color: #c00; color: #fee; }

#breadcrumbs {
	font-size: 0.9em;
	padding: 3px 15px;
	border-bottom: 1px solid #c00;
	background-color: #fee;
}
#header {
	background-color: #c00;
	color: #fee;
}
#container {
	background-color: #fff;
}
#foot{
	margin-top: 10px;
	background-color: #fee;
	border-top: 1px solid #c00;
	border-bottom: 1px solid #c00;
}
.wrap50 {
	height: 50px;
}
.wrap120 {
	height: 120px;
}
#top-ventas, #otras-ofertas {
	margin-top: 10px;
}
.mini-container {
	padding: 5px 10px;
	border: 1px solid #c00;
	background-color: #fee;
}
.mini-container ul li{
	float: left;
	display: block;
}

.mini-container ul li a {

}



.menu-container {
	font-size: 0.9em;
	padding: 5px 10px;
	border: 1px solid #c00;
	background-color: #fee;
}
.menu-container ul {
	color: #c00;
	list-style-type: square;
	list-style-position: outside;
	padding-left: 10px;

}
.menu-container ul li{
	padding-left: 10px;
}

.menu-container ul li a, .menu-container ul li a:hover, .menu-container ul li a:visited {
	color: #000;
}

.menu-container select, .menu-container input {
	width: 150px;
	border: 1px solid #c00;
}
.menu-container .boton, .menu-container .checkbox{
	width: auto;
	border: 0px;
}
.menu-container .boton {
	border: 1px solid #000;
	color: #fee;
	background-color: #c00;
}
#avanzada {
	border-top: 1px dotted #c00;
	border-bottom: 1px dotted #c00;
	padding-right: 10px;
	text-align: right;
}
.menu-container #avanzada input {
	width: 60px;
}
.menu-listado-workarea {

}

.fila-buscador {
	padding: 2px 0px;
}

.nodisplay {
	display: none;
}
.fila-submit {
	text-align: center;
	padding: 2px 0px;
}